.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-text {
    margin-top: 100px;
    font-family: "Acumin Pro Black", sans-serif;
    font-size: 150px;
    width: 1064px;
    line-height: 130px;
    letter-spacing: 7.5px;
    color: #F1D145;
    opacity: 0.8;

    span {
        color: #39553A;
    }
}

.text {
    width: 1064px;
    background-color: #FFFFFF;
    opacity: 0.39;
    color: #375238;
    width: 877px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 208px;
    height: 38px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1D145;
}