@font-face {
    font-family: 'Acumin Pro Black';
    src: url("./assets/fonts/acumin_pro_black.otf") format("opentype"),
}

.app {
    height: 100vh;
    display: flex;
}

.content {
    width: 100%;
}